@import url('https://fonts.googleapis.com/css2?family=ADLaM%20Display:wght@400&display=swap');

body {
    background-color: black;
    color: white;
    /*  display: flex;
    flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
    height: 100vh;
    height: 100dvh;
    font-family: 'ADLaM Display', cursive;
    overflow: hidden;
}

#clock {

    /*     min-width: 200px; */
    /* text-align: center; */
    font-size: 15vw;
    will-change: transform;
     
    /* -webkit-text-stroke: max(0.16vw, 0.6px) white; */
    color: white;
    animation: moveClock 15s ease-in-out alternate infinite both;


}

@keyframes moveClock {
    0% {
        transform: translate(0, 0);
    }


    25% {
        transform: translate(36vw, 0);
    }


    50% {
        transform: translate(0, 60vh);
    }


    75% {
        transform: translate(36vw, 60vh);
    }


    100% {
        transform: translate(0, 0);
    }
}



#clock {
    position: relative;
    display: flex;
    align-items: center;
}

#seperator {
    font-size: 5vw;
    font-weight: bold;
    padding-inline: 15px;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

#ampm {
    padding-left: 15px;
}

#seconds {
    color: grey;
    font-size: max(4vw, 50px);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}